


body {
    padding-top: initial;
    padding-bottom: 21px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: initial;
    font-size: small;
    color: #000000;
    min-height: initial;
    max-height: var(--vh);
    background-color: #FFFFFF;
    text-align: center;
    width: auto;
    padding: 35px 70px 50px 90px;
    margin: auto;
    min-width: initial;
    max-width: initial;
    margin: 0 auto;
    box-sizing: padding-box;
    margin-top: auto;
    position: static;
    border: hidden;
    word-spacing: 2px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: initial;
    padding-right: initial;
    min-width: initial;
    max-width: initial;
    margin: auto;
    color: #000000;
    min-height: initial;
    max-height: var(--vh);
}




div {
    width: auto;
    height: auto;
    border: hidden;
    display: block;
    align-items: center;
    flex-wrap: wrap-reverse;
    align-content: space-evenly;
    transition: margin-top 0.4s ease,height 0.4s ease;

}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #CD7D3E;
    color: #000000;
    overflow: auto;
}

    .topnav a {
        float: left;
        color: #CD7D3E;
        text-align: center;
        padding: initial;
        text-decoration: initial;
        font-size: large;
    }
/* Set a style for all buttons */
button {
    background-color: #CD7D3E;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}




#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

    #myTable th, #myTable td {
        text-align: left; /* Left-align text */
        padding: 12px; /* Add padding */
    }

    #myTable tr {
        /* Add a bottom border to all table rows */
        border-bottom: 1px solid #ddd;
    }

        #myTable tr.header, #myTable tr:hover {
            /* Add a grey background color to the table header and on hover */
            background-color: #CD7D3E;
        }







/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 377px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

div {
    resize: both;
    overflow: auto;
}

textarea {
    resize: none;
}

