body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 21px;
    text-align: right;
    width: 1077px;
    padding: 8px;
    border: 5px solid;
    margin: 4px;
}
