{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>SBFX</h1>
    <p class="lead">SBFX is a peer-to-peer network that stores datasets as csv files with built-in financial incentives to ensure that files are maintained securely over time.  </p>
    <p><a href="https://docs.filecoin.io/" class="btn btn-primary btn-large"   style="color:black;background-color:#CD7D3E;" >Learn more &raquo;</a></p>
</div>


<form action="action_page.php" method="post">
   

    <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw"           style="color:black;"         >Forgot <a href="#"   style="color:black;"         >password?</a></span>
    </div>
</form>




<header class="header ">
   
</header>

<div class="sections">

    <main class="store">

        <section class="intro mode-dark" data-anchor="intro"></section>
            <div class="section-wrapper">
                <div class="top-header">

                    <div class="header-copy">
                        <h2 class="title type-head">Use SBFX to <span class="underliner">save and upload</span> csv datasets </h2>
                        <div class="copy type-sub"><p>A efficient and dynamic dataset storage network for your datasets.</p></div>
                        <div class="cta-container">
                            <a href="https://docs.filecoin.io/" class="fancy-btn" target="_blank" rel="noreferrer"></a>
                                <span class="cta-copy">Upload to Mainnet</span>







                        </div>


                    </div>


                </div>



            </div>
    </main>

</div>







<div class="row">
    <div class="col-md-4">
        <h2>START</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LIBRARY</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>AZURE</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

    {% endblock %}
